/* reset css */
:root{
  --text-classic :#888;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #F5385C;
  display:flex;
  align-self:center;
}
a:hover{
  color:#F5385C ;
}
  
ul, ol, li {
  list-style: none;
}
button{
  background-color: #fff !important;
  border: 1px solid #dc3545 !important;
  color:#dc3545 !important ;
  transition: all .1s ease-out !important;
}
button:hover{
  background-color: #dc3545 !important;
  color:#fff !important ;
  border: 1px solid #dc3545 !important;

}


.image-card{
  width: 300px;
  height: 300px;
  border-radius: 12px;
  padding: 4px;
}
.custom-card-carte{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 12px;
}
.custom-btn{
  width: fit-content;
  padding: 8px 24px;
}

.custom-index{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.acceuil-container{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-container-carte{
  display:grid;
  grid-template-columns: repeat(4, 25%);
  padding: 48px;
  gap: 12px;

}

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;

  ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }
}



.custom-detail-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
} 

.add-logement-form{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.equipement-dispo-detail{
  display: flex;
  flex-direction: column;
}

.equipement-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.equipement-btn{
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

@media screen and (max-width:800px){
  .card-container-carte{
  display: flex;
  grid-template-columns: repeat(5, 20%);
  padding: 48px;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  }

  nav{
    gap: 0;
    flex-direction: column;
    margin: 30px 0;
    gap: 12px;
    ul{
      width: 100%;
    }
  }

}

@media screen and (min-width:800px) and (max-width:1400px) {
  .card-container-carte{
    display: grid;
    grid-template-columns: repeat(2,50%);
  }
}

